service_quan_ly_ton_giao/service_quan_ly_ton_giao/Service References/tblCoSo/WebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ThemDLCoSo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TenCoSo" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="DiaChi" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="NguoiQuanLy" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="HinhAnh" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="IDToChuc" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="GioiThieu" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ChucNang" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="DaXoa" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="TenThuongGoi" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ThemDLCoSoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ThemDLCoSoResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SuaDLCoSo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IDCoSo" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="TenCoSo" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="DiaChi" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="NguoiQuanLy" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="HinhAnh" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="IDToChuc" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="GioiThieu" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ChucNang" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="DaXoa" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="TenThuongGoi" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SuaDLCoSoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SuaDLCoSoResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="XoaLogicDLCoSo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IDCoSo" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="XoaLogicDLCoSoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="XoaLogicDLCoSoResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HienThiDSCoSo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dieukien" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HienThiDSCoSoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HienThiDSCoSoResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ThemDLCoSoSoapIn">
    <wsdl:part name="parameters" element="tns:ThemDLCoSo" />
  </wsdl:message>
  <wsdl:message name="ThemDLCoSoSoapOut">
    <wsdl:part name="parameters" element="tns:ThemDLCoSoResponse" />
  </wsdl:message>
  <wsdl:message name="SuaDLCoSoSoapIn">
    <wsdl:part name="parameters" element="tns:SuaDLCoSo" />
  </wsdl:message>
  <wsdl:message name="SuaDLCoSoSoapOut">
    <wsdl:part name="parameters" element="tns:SuaDLCoSoResponse" />
  </wsdl:message>
  <wsdl:message name="XoaLogicDLCoSoSoapIn">
    <wsdl:part name="parameters" element="tns:XoaLogicDLCoSo" />
  </wsdl:message>
  <wsdl:message name="XoaLogicDLCoSoSoapOut">
    <wsdl:part name="parameters" element="tns:XoaLogicDLCoSoResponse" />
  </wsdl:message>
  <wsdl:message name="HienThiDSCoSoSoapIn">
    <wsdl:part name="parameters" element="tns:HienThiDSCoSo" />
  </wsdl:message>
  <wsdl:message name="HienThiDSCoSoSoapOut">
    <wsdl:part name="parameters" element="tns:HienThiDSCoSoResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceSoap">
    <wsdl:operation name="ThemDLCoSo">
      <wsdl:input message="tns:ThemDLCoSoSoapIn" />
      <wsdl:output message="tns:ThemDLCoSoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SuaDLCoSo">
      <wsdl:input message="tns:SuaDLCoSoSoapIn" />
      <wsdl:output message="tns:SuaDLCoSoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="XoaLogicDLCoSo">
      <wsdl:input message="tns:XoaLogicDLCoSoSoapIn" />
      <wsdl:output message="tns:XoaLogicDLCoSoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="HienThiDSCoSo">
      <wsdl:input message="tns:HienThiDSCoSoSoapIn" />
      <wsdl:output message="tns:HienThiDSCoSoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceSoap" type="tns:WebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ThemDLCoSo">
      <soap:operation soapAction="http://tempuri.org/ThemDLCoSo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SuaDLCoSo">
      <soap:operation soapAction="http://tempuri.org/SuaDLCoSo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="XoaLogicDLCoSo">
      <soap:operation soapAction="http://tempuri.org/XoaLogicDLCoSo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HienThiDSCoSo">
      <soap:operation soapAction="http://tempuri.org/HienThiDSCoSo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceSoap12" type="tns:WebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ThemDLCoSo">
      <soap12:operation soapAction="http://tempuri.org/ThemDLCoSo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SuaDLCoSo">
      <soap12:operation soapAction="http://tempuri.org/SuaDLCoSo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="XoaLogicDLCoSo">
      <soap12:operation soapAction="http://tempuri.org/XoaLogicDLCoSo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HienThiDSCoSo">
      <soap12:operation soapAction="http://tempuri.org/HienThiDSCoSo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService">
    <wsdl:port name="WebServiceSoap" binding="tns:WebServiceSoap">
      <soap:address location="http://localhost:20928/WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceSoap12" binding="tns:WebServiceSoap12">
      <soap12:address location="http://localhost:20928/WebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>