service_quan_ly_ton_giao/service_quan_ly_ton_giao/Service References/tblTinDo/tblTinDo.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HienThiDSTinDo">
        <s:complexType />
      </s:element>
      <s:element name="HienThiDSTinDoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HienThiDSTinDoResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HienThiDSTinDoSoapIn">
    <wsdl:part name="parameters" element="tns:HienThiDSTinDo" />
  </wsdl:message>
  <wsdl:message name="HienThiDSTinDoSoapOut">
    <wsdl:part name="parameters" element="tns:HienThiDSTinDoResponse" />
  </wsdl:message>
  <wsdl:portType name="tblTinDoSoap">
    <wsdl:operation name="HienThiDSTinDo">
      <wsdl:input message="tns:HienThiDSTinDoSoapIn" />
      <wsdl:output message="tns:HienThiDSTinDoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="tblTinDoSoap" type="tns:tblTinDoSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HienThiDSTinDo">
      <soap:operation soapAction="http://tempuri.org/HienThiDSTinDo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="tblTinDoSoap12" type="tns:tblTinDoSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HienThiDSTinDo">
      <soap12:operation soapAction="http://tempuri.org/HienThiDSTinDo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="tblTinDo">
    <wsdl:port name="tblTinDoSoap" binding="tns:tblTinDoSoap">
      <soap:address location="http://localhost:50829/tblTinDo.asmx" />
    </wsdl:port>
    <wsdl:port name="tblTinDoSoap12" binding="tns:tblTinDoSoap12">
      <soap12:address location="http://localhost:50829/tblTinDo.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>