service_quan_ly_ton_giao/service_quan_ly_ton_giao/Service References/tblTinDo/tblTinDo.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HienThiDSTinDo">
        <s:complexType />
      </s:element>
      <s:element name="HienThiDSTinDoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HienThiDSTinDoResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ThemTinDo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="phapDanh" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="hodemTheDanh" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tenTheDanh" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ngaySinh" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="gioiTinh" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="danToc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="queQuan" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="diaChi" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="taiChinh" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sucKhoe" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tcTichCuc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tcNguyHiem" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="hinhAnh" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="matDoi" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="matDao" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="hdCaNhan" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="hdToChuc" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="idChucSac" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="idCoSo" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="daXoa" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="ngayVaoTonGiao" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="idChucVu" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ThemTinDoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ThemTinDoResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="XoaTinDo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="XoaTinDoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="XoaTinDoResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DuLieuTinh">
        <s:complexType />
      </s:element>
      <s:element name="DuLieuTinhResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DuLieuTinhResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TruyVanTenHuyen">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="tinh" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TruyVanTenHuyenResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TruyVanTenHuyenResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TruyVanTenXa">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="huyen" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TruyVanTenXaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TruyVanTenXaResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IdQueQuan">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="tinh" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="huyen" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="xa" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IdQueQuanResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="IdQueQuanResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IdDiaChi">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="tinh" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="huyen" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="xa" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IdDiaChiResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="IdDiaChiResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IdChucSac">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="tenChucSac" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IdChucSacResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IdChucSacResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IdCoSo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="tenCoSo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IdCoSoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IdCoSoResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IdChucVu">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="tenChucVu" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IdChucVuResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IdChucVuResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="OneRecord">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="tblBang" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sqlString" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="OneRecordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="OneRecordResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IDTonGiao">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="tenTonGiao" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IDTonGiaoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IDTonGiaoResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="tblBang" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sqlString" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDataResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DuLieuDon">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idXa" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DuLieuDonResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DuLieuDonResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HienThiDSTinDoSoapIn">
    <wsdl:part name="parameters" element="tns:HienThiDSTinDo" />
  </wsdl:message>
  <wsdl:message name="HienThiDSTinDoSoapOut">
    <wsdl:part name="parameters" element="tns:HienThiDSTinDoResponse" />
  </wsdl:message>
  <wsdl:message name="ThemTinDoSoapIn">
    <wsdl:part name="parameters" element="tns:ThemTinDo" />
  </wsdl:message>
  <wsdl:message name="ThemTinDoSoapOut">
    <wsdl:part name="parameters" element="tns:ThemTinDoResponse" />
  </wsdl:message>
  <wsdl:message name="XoaTinDoSoapIn">
    <wsdl:part name="parameters" element="tns:XoaTinDo" />
  </wsdl:message>
  <wsdl:message name="XoaTinDoSoapOut">
    <wsdl:part name="parameters" element="tns:XoaTinDoResponse" />
  </wsdl:message>
  <wsdl:message name="DuLieuTinhSoapIn">
    <wsdl:part name="parameters" element="tns:DuLieuTinh" />
  </wsdl:message>
  <wsdl:message name="DuLieuTinhSoapOut">
    <wsdl:part name="parameters" element="tns:DuLieuTinhResponse" />
  </wsdl:message>
  <wsdl:message name="TruyVanTenHuyenSoapIn">
    <wsdl:part name="parameters" element="tns:TruyVanTenHuyen" />
  </wsdl:message>
  <wsdl:message name="TruyVanTenHuyenSoapOut">
    <wsdl:part name="parameters" element="tns:TruyVanTenHuyenResponse" />
  </wsdl:message>
  <wsdl:message name="TruyVanTenXaSoapIn">
    <wsdl:part name="parameters" element="tns:TruyVanTenXa" />
  </wsdl:message>
  <wsdl:message name="TruyVanTenXaSoapOut">
    <wsdl:part name="parameters" element="tns:TruyVanTenXaResponse" />
  </wsdl:message>
  <wsdl:message name="IdQueQuanSoapIn">
    <wsdl:part name="parameters" element="tns:IdQueQuan" />
  </wsdl:message>
  <wsdl:message name="IdQueQuanSoapOut">
    <wsdl:part name="parameters" element="tns:IdQueQuanResponse" />
  </wsdl:message>
  <wsdl:message name="IdDiaChiSoapIn">
    <wsdl:part name="parameters" element="tns:IdDiaChi" />
  </wsdl:message>
  <wsdl:message name="IdDiaChiSoapOut">
    <wsdl:part name="parameters" element="tns:IdDiaChiResponse" />
  </wsdl:message>
  <wsdl:message name="IdChucSacSoapIn">
    <wsdl:part name="parameters" element="tns:IdChucSac" />
  </wsdl:message>
  <wsdl:message name="IdChucSacSoapOut">
    <wsdl:part name="parameters" element="tns:IdChucSacResponse" />
  </wsdl:message>
  <wsdl:message name="IdCoSoSoapIn">
    <wsdl:part name="parameters" element="tns:IdCoSo" />
  </wsdl:message>
  <wsdl:message name="IdCoSoSoapOut">
    <wsdl:part name="parameters" element="tns:IdCoSoResponse" />
  </wsdl:message>
  <wsdl:message name="IdChucVuSoapIn">
    <wsdl:part name="parameters" element="tns:IdChucVu" />
  </wsdl:message>
  <wsdl:message name="IdChucVuSoapOut">
    <wsdl:part name="parameters" element="tns:IdChucVuResponse" />
  </wsdl:message>
  <wsdl:message name="OneRecordSoapIn">
    <wsdl:part name="parameters" element="tns:OneRecord" />
  </wsdl:message>
  <wsdl:message name="OneRecordSoapOut">
    <wsdl:part name="parameters" element="tns:OneRecordResponse" />
  </wsdl:message>
  <wsdl:message name="IDTonGiaoSoapIn">
    <wsdl:part name="parameters" element="tns:IDTonGiao" />
  </wsdl:message>
  <wsdl:message name="IDTonGiaoSoapOut">
    <wsdl:part name="parameters" element="tns:IDTonGiaoResponse" />
  </wsdl:message>
  <wsdl:message name="GetDataSoapIn">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="GetDataSoapOut">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="DuLieuDonSoapIn">
    <wsdl:part name="parameters" element="tns:DuLieuDon" />
  </wsdl:message>
  <wsdl:message name="DuLieuDonSoapOut">
    <wsdl:part name="parameters" element="tns:DuLieuDonResponse" />
  </wsdl:message>
  <wsdl:portType name="tblTinDoSoap">
    <wsdl:operation name="HienThiDSTinDo">
      <wsdl:input message="tns:HienThiDSTinDoSoapIn" />
      <wsdl:output message="tns:HienThiDSTinDoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ThemTinDo">
      <wsdl:input message="tns:ThemTinDoSoapIn" />
      <wsdl:output message="tns:ThemTinDoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="XoaTinDo">
      <wsdl:input message="tns:XoaTinDoSoapIn" />
      <wsdl:output message="tns:XoaTinDoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DuLieuTinh">
      <wsdl:input message="tns:DuLieuTinhSoapIn" />
      <wsdl:output message="tns:DuLieuTinhSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TruyVanTenHuyen">
      <wsdl:input message="tns:TruyVanTenHuyenSoapIn" />
      <wsdl:output message="tns:TruyVanTenHuyenSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TruyVanTenXa">
      <wsdl:input message="tns:TruyVanTenXaSoapIn" />
      <wsdl:output message="tns:TruyVanTenXaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IdQueQuan">
      <wsdl:input message="tns:IdQueQuanSoapIn" />
      <wsdl:output message="tns:IdQueQuanSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IdDiaChi">
      <wsdl:input message="tns:IdDiaChiSoapIn" />
      <wsdl:output message="tns:IdDiaChiSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IdChucSac">
      <wsdl:input message="tns:IdChucSacSoapIn" />
      <wsdl:output message="tns:IdChucSacSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IdCoSo">
      <wsdl:input message="tns:IdCoSoSoapIn" />
      <wsdl:output message="tns:IdCoSoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IdChucVu">
      <wsdl:input message="tns:IdChucVuSoapIn" />
      <wsdl:output message="tns:IdChucVuSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="OneRecord">
      <wsdl:input message="tns:OneRecordSoapIn" />
      <wsdl:output message="tns:OneRecordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IDTonGiao">
      <wsdl:input message="tns:IDTonGiaoSoapIn" />
      <wsdl:output message="tns:IDTonGiaoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <wsdl:input message="tns:GetDataSoapIn" />
      <wsdl:output message="tns:GetDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DuLieuDon">
      <wsdl:input message="tns:DuLieuDonSoapIn" />
      <wsdl:output message="tns:DuLieuDonSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="tblTinDoSoap" type="tns:tblTinDoSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HienThiDSTinDo">
      <soap:operation soapAction="http://tempuri.org/HienThiDSTinDo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ThemTinDo">
      <soap:operation soapAction="http://tempuri.org/ThemTinDo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="XoaTinDo">
      <soap:operation soapAction="http://tempuri.org/XoaTinDo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DuLieuTinh">
      <soap:operation soapAction="http://tempuri.org/DuLieuTinh" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TruyVanTenHuyen">
      <soap:operation soapAction="http://tempuri.org/TruyVanTenHuyen" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TruyVanTenXa">
      <soap:operation soapAction="http://tempuri.org/TruyVanTenXa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IdQueQuan">
      <soap:operation soapAction="http://tempuri.org/IdQueQuan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IdDiaChi">
      <soap:operation soapAction="http://tempuri.org/IdDiaChi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IdChucSac">
      <soap:operation soapAction="http://tempuri.org/IdChucSac" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IdCoSo">
      <soap:operation soapAction="http://tempuri.org/IdCoSo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IdChucVu">
      <soap:operation soapAction="http://tempuri.org/IdChucVu" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OneRecord">
      <soap:operation soapAction="http://tempuri.org/OneRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IDTonGiao">
      <soap:operation soapAction="http://tempuri.org/IDTonGiao" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DuLieuDon">
      <soap:operation soapAction="http://tempuri.org/DuLieuDon" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="tblTinDoSoap12" type="tns:tblTinDoSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HienThiDSTinDo">
      <soap12:operation soapAction="http://tempuri.org/HienThiDSTinDo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ThemTinDo">
      <soap12:operation soapAction="http://tempuri.org/ThemTinDo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="XoaTinDo">
      <soap12:operation soapAction="http://tempuri.org/XoaTinDo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DuLieuTinh">
      <soap12:operation soapAction="http://tempuri.org/DuLieuTinh" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TruyVanTenHuyen">
      <soap12:operation soapAction="http://tempuri.org/TruyVanTenHuyen" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TruyVanTenXa">
      <soap12:operation soapAction="http://tempuri.org/TruyVanTenXa" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IdQueQuan">
      <soap12:operation soapAction="http://tempuri.org/IdQueQuan" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IdDiaChi">
      <soap12:operation soapAction="http://tempuri.org/IdDiaChi" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IdChucSac">
      <soap12:operation soapAction="http://tempuri.org/IdChucSac" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IdCoSo">
      <soap12:operation soapAction="http://tempuri.org/IdCoSo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IdChucVu">
      <soap12:operation soapAction="http://tempuri.org/IdChucVu" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OneRecord">
      <soap12:operation soapAction="http://tempuri.org/OneRecord" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IDTonGiao">
      <soap12:operation soapAction="http://tempuri.org/IDTonGiao" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <soap12:operation soapAction="http://tempuri.org/GetData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DuLieuDon">
      <soap12:operation soapAction="http://tempuri.org/DuLieuDon" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="tblTinDo">
    <wsdl:port name="tblTinDoSoap" binding="tns:tblTinDoSoap">
      <soap:address location="http://localhost:50829/tblTinDo.asmx" />
    </wsdl:port>
    <wsdl:port name="tblTinDoSoap12" binding="tns:tblTinDoSoap12">
      <soap12:address location="http://localhost:50829/tblTinDo.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>