service_quan_ly_ton_giao/service_quan_ly_ton_giao/Service References/Map/ServiceMap.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HienThiSLTinDoTheoHuyen">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TenTonGiao" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dieukien" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HienThiSLTinDoTheoHuyenResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HienThiSLTinDoTheoHuyenResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HienThiSLTinDoTheoTinh">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TenTonGiao" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dieukien" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HienThiSLTinDoTheoTinhResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HienThiSLTinDoTheoTinhResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HienThiTinDoTheoTonGiaoTheoTinh">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dieukien" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HienThiTinDoTheoTonGiaoTheoTinhResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HienThiTinDoTheoTonGiaoTheoTinhResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HienThiTinDoTheoTonGiaoTheoKhuVuc">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dieukien" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HienThiTinDoTheoTonGiaoTheoKhuVucResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HienThiTinDoTheoTonGiaoTheoKhuVucResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HienThiCoSoTheoTonGiaoTheoTinh">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TenTinh" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TenTonGiao" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HienThiCoSoTheoTonGiaoTheoTinhResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HienThiCoSoTheoTonGiaoTheoTinhResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HienThiCoSoTheoTonGiaoTheoKhuVuc">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TenKhuVuc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TenTonGiao" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HienThiCoSoTheoTonGiaoTheoKhuVucResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HienThiCoSoTheoTonGiaoTheoKhuVucResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HienThiSLTinDoTheoHuyenSoapIn">
    <wsdl:part name="parameters" element="tns:HienThiSLTinDoTheoHuyen" />
  </wsdl:message>
  <wsdl:message name="HienThiSLTinDoTheoHuyenSoapOut">
    <wsdl:part name="parameters" element="tns:HienThiSLTinDoTheoHuyenResponse" />
  </wsdl:message>
  <wsdl:message name="HienThiSLTinDoTheoTinhSoapIn">
    <wsdl:part name="parameters" element="tns:HienThiSLTinDoTheoTinh" />
  </wsdl:message>
  <wsdl:message name="HienThiSLTinDoTheoTinhSoapOut">
    <wsdl:part name="parameters" element="tns:HienThiSLTinDoTheoTinhResponse" />
  </wsdl:message>
  <wsdl:message name="HienThiTinDoTheoTonGiaoTheoTinhSoapIn">
    <wsdl:part name="parameters" element="tns:HienThiTinDoTheoTonGiaoTheoTinh" />
  </wsdl:message>
  <wsdl:message name="HienThiTinDoTheoTonGiaoTheoTinhSoapOut">
    <wsdl:part name="parameters" element="tns:HienThiTinDoTheoTonGiaoTheoTinhResponse" />
  </wsdl:message>
  <wsdl:message name="HienThiTinDoTheoTonGiaoTheoKhuVucSoapIn">
    <wsdl:part name="parameters" element="tns:HienThiTinDoTheoTonGiaoTheoKhuVuc" />
  </wsdl:message>
  <wsdl:message name="HienThiTinDoTheoTonGiaoTheoKhuVucSoapOut">
    <wsdl:part name="parameters" element="tns:HienThiTinDoTheoTonGiaoTheoKhuVucResponse" />
  </wsdl:message>
  <wsdl:message name="HienThiCoSoTheoTonGiaoTheoTinhSoapIn">
    <wsdl:part name="parameters" element="tns:HienThiCoSoTheoTonGiaoTheoTinh" />
  </wsdl:message>
  <wsdl:message name="HienThiCoSoTheoTonGiaoTheoTinhSoapOut">
    <wsdl:part name="parameters" element="tns:HienThiCoSoTheoTonGiaoTheoTinhResponse" />
  </wsdl:message>
  <wsdl:message name="HienThiCoSoTheoTonGiaoTheoKhuVucSoapIn">
    <wsdl:part name="parameters" element="tns:HienThiCoSoTheoTonGiaoTheoKhuVuc" />
  </wsdl:message>
  <wsdl:message name="HienThiCoSoTheoTonGiaoTheoKhuVucSoapOut">
    <wsdl:part name="parameters" element="tns:HienThiCoSoTheoTonGiaoTheoKhuVucResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceMapSoap">
    <wsdl:operation name="HienThiSLTinDoTheoHuyen">
      <wsdl:input message="tns:HienThiSLTinDoTheoHuyenSoapIn" />
      <wsdl:output message="tns:HienThiSLTinDoTheoHuyenSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="HienThiSLTinDoTheoTinh">
      <wsdl:input message="tns:HienThiSLTinDoTheoTinhSoapIn" />
      <wsdl:output message="tns:HienThiSLTinDoTheoTinhSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="HienThiTinDoTheoTonGiaoTheoTinh">
      <wsdl:input message="tns:HienThiTinDoTheoTonGiaoTheoTinhSoapIn" />
      <wsdl:output message="tns:HienThiTinDoTheoTonGiaoTheoTinhSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="HienThiTinDoTheoTonGiaoTheoKhuVuc">
      <wsdl:input message="tns:HienThiTinDoTheoTonGiaoTheoKhuVucSoapIn" />
      <wsdl:output message="tns:HienThiTinDoTheoTonGiaoTheoKhuVucSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="HienThiCoSoTheoTonGiaoTheoTinh">
      <wsdl:input message="tns:HienThiCoSoTheoTonGiaoTheoTinhSoapIn" />
      <wsdl:output message="tns:HienThiCoSoTheoTonGiaoTheoTinhSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="HienThiCoSoTheoTonGiaoTheoKhuVuc">
      <wsdl:input message="tns:HienThiCoSoTheoTonGiaoTheoKhuVucSoapIn" />
      <wsdl:output message="tns:HienThiCoSoTheoTonGiaoTheoKhuVucSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceMapSoap" type="tns:ServiceMapSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HienThiSLTinDoTheoHuyen">
      <soap:operation soapAction="http://tempuri.org/HienThiSLTinDoTheoHuyen" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HienThiSLTinDoTheoTinh">
      <soap:operation soapAction="http://tempuri.org/HienThiSLTinDoTheoTinh" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HienThiTinDoTheoTonGiaoTheoTinh">
      <soap:operation soapAction="http://tempuri.org/HienThiTinDoTheoTonGiaoTheoTinh" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HienThiTinDoTheoTonGiaoTheoKhuVuc">
      <soap:operation soapAction="http://tempuri.org/HienThiTinDoTheoTonGiaoTheoKhuVuc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HienThiCoSoTheoTonGiaoTheoTinh">
      <soap:operation soapAction="http://tempuri.org/HienThiCoSoTheoTonGiaoTheoTinh" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HienThiCoSoTheoTonGiaoTheoKhuVuc">
      <soap:operation soapAction="http://tempuri.org/HienThiCoSoTheoTonGiaoTheoKhuVuc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceMapSoap12" type="tns:ServiceMapSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HienThiSLTinDoTheoHuyen">
      <soap12:operation soapAction="http://tempuri.org/HienThiSLTinDoTheoHuyen" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HienThiSLTinDoTheoTinh">
      <soap12:operation soapAction="http://tempuri.org/HienThiSLTinDoTheoTinh" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HienThiTinDoTheoTonGiaoTheoTinh">
      <soap12:operation soapAction="http://tempuri.org/HienThiTinDoTheoTonGiaoTheoTinh" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HienThiTinDoTheoTonGiaoTheoKhuVuc">
      <soap12:operation soapAction="http://tempuri.org/HienThiTinDoTheoTonGiaoTheoKhuVuc" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HienThiCoSoTheoTonGiaoTheoTinh">
      <soap12:operation soapAction="http://tempuri.org/HienThiCoSoTheoTonGiaoTheoTinh" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HienThiCoSoTheoTonGiaoTheoKhuVuc">
      <soap12:operation soapAction="http://tempuri.org/HienThiCoSoTheoTonGiaoTheoKhuVuc" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceMap">
    <wsdl:port name="ServiceMapSoap" binding="tns:ServiceMapSoap">
      <soap:address location="http://localhost:50829/ServiceMap.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceMapSoap12" binding="tns:ServiceMapSoap12">
      <soap12:address location="http://localhost:50829/ServiceMap.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>